{{ define "main" }}

<style>
    img {
        float:left;
        width:50%;
        height:100%;
        object-fit:cover;
    }
</style>

{{ range.Pages.ByPublishDate.Reverse }}

<h1 class="section-header hindi mt-4 mb-3">
    إمساكيات شهر رمضان لعام{{ .Params.hijriYear }}هـ
</h1>
<div class="card-deck my-0 text-center px-2">
    <div class="card mt-2 mx-auto mx-sm-2" style="width: 18rem;">
        <img src="/imsakiya/thumbnails/kuwait.jpg" class="card-img-top" alt="kuwait">
        <div class="card-body">
            <h5 class="card-title">مدينة الكويت</h5>
            <a href="/imsakiya/PDF/{{ .Params.hijriYear }}/imsakiya-Kuwait-City-KW-Asia-{{ .Params.hijriYear }}.pdf"
                class="btn btn-labeled btn-primary" style="padding: 0 10px;">
                <span class="btn-label"><i data-feather="download"></i></span>&nbsp;&nbsp;تنزيل الامساكية
            </a>
        </div>
    </div>
    <div class="card mt-2 mx-auto mx-sm-2" style="width: 18rem;">
        <img src="/imsakiya/thumbnails/mecca.jpg" class="card-img-top" alt="kuwait">
        <div class="card-body">
            <h5 class="card-title">مكة المكرمة</h5>
            <a href="/imsakiya/PDF/{{ .Params.hijriYear }}/imsakiya-Mecca-SA-Asia-{{ .Params.hijriYear }}.pdf"
                class="btn btn-labeled btn-primary" style="padding: 0 10px;">
                <span class="btn-label"><i data-feather="download"></i></span>&nbsp;&nbsp;تنزيل الامساكية
            </a>
        </div>
    </div>
    <div class="card mt-2 mx-auto mx-sm-2" style="width: 18rem;">
        <img src="/imsakiya/thumbnails/madina.jpg" class="card-img-top" alt="kuwait">
        <div class="card-body">
            <h5 class="card-title">المدينة المنورة</h5>
            <a href="/imsakiya/PDF/{{ .Params.hijriYear }}/imsakiya-Madina-SA-Asia-{{ .Params.hijriYear }}.pdf"
                class="btn btn-labeled btn-primary" style="padding: 0 10px;">
                <span class="btn-label"><i data-feather="download"></i></span>&nbsp;&nbsp;تنزيل الامساكية
            </a>
        </div>
    </div>
</div>
<div class="card-deck my-0 text-center px-2">
    <div class="card mt-2 mx-auto mx-sm-2" style="width: 18rem;">
        <img src="/imsakiya/thumbnails/annajaf.jpg" class="card-img-top" alt="kuwait">
        <div class="card-body">
            <h5 class="card-title">النجف الأشرف</h5>
            <a href="/imsakiya/PDF/{{ .Params.hijriYear }}/imsakiya-Annajaf-IQ-Asia-{{ .Params.hijriYear }}.pdf"
                class="btn btn-labeled btn-primary" style="padding: 0 10px;">
                <span class="btn-label"><i data-feather="download"></i></span>&nbsp;&nbsp;تنزيل الامساكية
            </a>
        </div>
    </div>
    <div class="card mt-2 mx-auto mx-sm-2" style="width: 18rem;">
        <img src="/imsakiya/thumbnails/karbala.jpg" class="card-img-top" alt="kuwait">
        <div class="card-body">
            <h5 class="card-title">كربلاء المقدسة</h5>
            <a href="/imsakiya/PDF/{{ .Params.hijriYear }}/imsakiya-Karbala-IQ-Asia-{{ .Params.hijriYear }}.pdf"
                class="btn btn-labeled btn-primary" style="padding: 0 10px;">
                <span class="btn-label"><i data-feather="download"></i></span>&nbsp;&nbsp;تنزيل الامساكية
            </a>
        </div>
    </div>
    <div class="card mt-2 mx-auto mx-sm-2" style="width: 18rem;">
        <img src="/imsakiya/thumbnails/qom.jpg" class="card-img-top" alt="kuwait">
        <div class="card-body">
            <h5 class="card-title">قم المقدسة</h5>
            <a href="/imsakiya/PDF/{{ .Params.hijriYear }}/imsakiya-Qom-IR-Asia-{{ .Params.hijriYear }}.pdf"
                class="btn btn-labeled btn-primary" style="padding: 0 10px;">
                <span class="btn-label"><i data-feather="download"></i></span>&nbsp;&nbsp;تنزيل الامساكية
            </a>
        </div>
    </div>
</div>
<div class="card-deck my-0 text-center px-2">
    <div class="card mt-2 mx-auto mx-sm-2" style="width: 18rem;">
        <img src="/imsakiya/thumbnails/kadhmain.jpg" class="card-img-top" alt="kuwait">
        <div class="card-body">
            <h5 class="card-title">الكاظمية - بغداد</h5>
            <a href="/imsakiya/PDF/{{ .Params.hijriYear }}/imsakiya-Baghdad-IQ-Asia-{{ .Params.hijriYear }}.pdf"
                class="btn btn-labeled btn-primary" style="padding: 0 10px;">
                <span class="btn-label"><i data-feather="download"></i></span>&nbsp;&nbsp;تنزيل الامساكية
            </a>
        </div>
    </div>
    <div class="card mt-2 mx-auto mx-sm-2" style="width: 18rem;">
        <img src="/imsakiya/thumbnails/mashhad.jpg" class="card-img-top" alt="kuwait">
        <div class="card-body">
            <h5 class="card-title">مشهد المقدسة</h5>
            <a href="/imsakiya/PDF/{{ .Params.hijriYear }}/imsakiya-Mashhad-IR-Asia-{{ .Params.hijriYear }}.pdf"
                class="btn btn-labeled btn-primary" style="padding: 0 10px;">
                <span class="btn-label"><i data-feather="download"></i></span>&nbsp;&nbsp;تنزيل الامساكية
            </a>
        </div>
    </div>
    <div class="card mt-2 mx-auto mx-sm-2" style="width: 18rem;">
        <img src="/imsakiya/thumbnails/samaraa.jpg" class="card-img-top" alt="kuwait">
        <div class="card-body">
            <h5 class="card-title">سامراء</h5>
            <a href="/imsakiya/PDF/{{ .Params.hijriYear }}/imsakiya-Samraa-IQ-Asia-{{ .Params.hijriYear }}.pdf"
                class="btn btn-labeled btn-primary" style="padding: 0 10px;">
                <span class="btn-label"><i data-feather="download"></i></span>&nbsp;&nbsp;تنزيل الامساكية
            </a>
        </div>
    </div>
</div>

{{ end }}

{{ partial "return-1-btn" . }}
{{ end }}