{{ define "main" }}

<div class="container">
  <div class="row">

    <div class="col-md-9">
      <h1 class="section-header"> تقويم الصائغ الدولي</h1>
      <p>يزخر تقويم الصائغ الدولي بمجموعة قيمة من المعلومات علاوة على أوقات الصلاة في مجموعة منتقاة من المدن في مختلف القارات, فهو يحتوي ايضا على معلومات وخرائط رصد الهلال وشكله حسب أفق مدينة النجف الأشرف وجداول مكث الهلال في مجموعة من المدن, كما ويحتوي على معلومات مفيدة كالحكم والامثال والروايات والادبيات. ويتميز بذكر تواريخ مهمة مثل الولادات والوفيات بالاضافة الى كونه يعرض التواريخ بلغات مختلفة. أختر تقويم هذا العام من القائمة التالية:</p>
      
          {{ range.Pages.ByPublishDate.Reverse }}
      <p>
      <a class="font-125" href="/calendars/PDF/{{ .Params.file }}">{{ .Title }}</a>
      <hr />
    </p>
    {{ end }}
    </div>

    <aside class="col-md-3">

      <!-- side buttons -->
      <div id="desktop-side-buttons">
        {{ partial "side-buttons.html" . }}
      </div>

    </aside>
  </div>
</div>

{{ partial "return-1-btn" . }}
{{ end }}
