<!DOCTYPE html>
<html dir="rtl" lang="ar" prefix="og: http://ogp.me/ns#">
  {{ partial "head.html" . }}
  <body>
    {{ partial "jumbo.html" . }}
    {{ partial "nav.html" . }}
    <div class="container">
      <main id="main">{{ block "main" . }}{{ end }}</main>
    </div>
    {{ partial "foot.html" . }}
    {{ partial "script.html" . }}

    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
