{{ define "main" }}

<h1 class="section-header">رصد الأهلة</h1>
<h1></h1>
<p>{{ .Content }}</p>
<div class="container">
{{ range.Pages.ByPublishDate.Reverse }}
  <div class="container">
      <div class="row">
        <div class="col-sm-2">
            <img src="../img/crescent.jpg" alt="" class="rounded thumbnail"></a>
        </div>
        <div class="col-sm">
          <a class="font-125 hindi" href="{{ .RelPermalink }}">هلال شهر {{.Params.hijryMonth}} {{.Params.hijryYear}} هجرية<br />
            <b class="hindi"> أوّل أيّام شهر {{.Params.hijryMonth}} هو يوم {{ .Params.firstDayName }} {{ .Params.firstDayDate }} (حسب الرؤية المحتملة في دولة الكويت)</b>
            <!-- <p>{{ partial "date-only.html" . }}</p> -->
          </div>
      </div>
    </div>
  <hr>
  {{ end }}
</div>

{{ partial "return-1-btn" . }}
{{ end }}
