{{ define "main" }}

<h1 class="section-header">رصد الأهلة</h1>
<h1></h1>
<p>{{ .Content }}</p>
<div class="container">
{{ range.Pages.ByPublishDate.Reverse }}
  <a class="font-125" href="{{ .RelPermalink }}">هلال شهر {{.Params.month}} {{.Params.yearHijry}} هجرية<br />
  <div class="container">
      <div class="row">
        <div class="col-sm-2">
            <img src="../img/crescent.jpg" alt="" class="rounded thumbnail"></a>
        </div>
        <div class="col-sm">
            <b> أوّل أيّام شهر {{.Params.month}} هو يوم {{ .Params.firstDay }} {{ .Params.firstDayDate }} (حسب الرؤية المحلية في دولة الكويت)</b>
            <p>{{ partial "date-only.html" . }}</p>
          </div>
      </div>
    </div>

{{ end }}
</div>

{{ partial "return-1-btn" . }}
{{ end }}
