{{ define "main" }}

<h1 class="section-header">تفاصيل رصد هلال شهر {{ .Params.hijryMonth }} لسنة {{ .Params.hijryYear }} هـ</h1>
<br />

{{ .Content }}
<br>
<div class="alert alert-success" role="alert">
    <b> أوّل أيّام شهر {{.Params.hijryMonth}} هو يوم {{ .Params.firstDayName }} {{ .Params.firstDayDate }} (حسب الرؤية المحتملة في دولة الكويت)</b>
</div>
<br><br>

{{ $noImg := "الصورة غير متوفرة" }}

<h2>جداول إمكانية رؤية الهلال بحسب تقويم الصائغ</h2>
<br>
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" style="height: 34rem;" src="/static{{.Params.sayeghImg1}}" alt={{ $noImg }}>
        <div class="card-footer">
            <h3 class="text-muted">في مدينة الكويت</h3>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" style="height: 34rem;" src="/static{{.Params.sayeghImg2}}" alt={{ $noImg }}>
        <div class="card-footer">
            <h3 class="text-muted">في مجموعة من مدن العالم</h3>
        </div>
    </div>
</div>

<br><br><br>

<h2>خرائط إمكانية رؤية الهلال بحسب المعايير الفلكية</h2>
<br>

<a href="{{ .Params.odahHTML }}">
    <h3>معيار محمد عودة</h3>
</a>
<div class="card">
    <img class="card-img-top" src="/crescents/{{ .Params.odahImg1 }}" alt={{ $noImg }}>
    <div class="card-footer">
        <h4>الليلة الأولى</h4>
    </div>
</div>
<br><br>
<div class="card">
    <img class="card-img-top" src="/crescents/{{ .Params.odahImg2 }}" alt={{ $noImg }}>
    <div class="card-footer">
        <h4>الليلة الثانية</h4>
    </div>
</div>

<br><br>
<a href="{{ .Params.yallopHTML }}">
    <h3>معيار يالوب</h3>
</a>
<div class="card">
    <img class="card-img-top" src="/crescents/{{ .Params.yallopImg1 }}" alt={{ $noImg }}>
    <div class="card-footer">
        <h4>الليلة الأولى</h4>
    </div>
</div>
<br><br>
<div class="card">
    <img class="card-img-top" src="/crescents/{{ .Params.yallopImg2 }}" alt={{ $noImg }}>
    <div class="card-footer">
        <h4>الليلة الثانية</h4>
    </div>
</div>

<br><br>
<a href="{{ .Params.shawkatHTML }}">
    <h3>معيار خالد شوكت</h3>
</a>
<div class="card">
    <img class="card-img-top" src="/crescents/{{ .Params.shawkatImg1 }}" alt={{ $noImg }}>
    <div class="card-footer">
        <h4>الليلة الأولى</h4>
    </div>
</div>
<br><br>
<div class="card">
    <img class="card-img-top" src="/crescents/{{ .Params.shawkatImg2 }}" alt={{ $noImg }}>
    <div class="card-footer">
        <h4>الليلة الثانية</h4>
    </div>
</div>


<br><br>
<div class="alert alert-warning" role="alert">
    <h4>ملاحظة هامة</h4>
    <p>اللجنة غير معنية بإعلان بدايات الأشهر القمرية من الناحية الشرعية، كأن تعلن بداية شهر رمضان أو يوم عيد الفطر
        مثلاً، بل هي معنية بتوضيح زمن ولادة الهلال، وإمكانية الرؤية في أفق الكويت وأماكن أخرى من العالم، بناء على
        الحسابات الفلكية والخصائص المتعلقة بالهلال من حيث الارتفاع والمكث وغيرها من العناصر، وكذلك ظروف الرؤية كنقاء
        الأفق وصفاء السماء من الغيوم أو التلوث الضوئي.</p>
</div>



{{ partial "return-2-btn.html" (dict "label" "رصد الاهلة" "link" "crescents") }}

{{ end }}
