<div>
  {{ range (where .Site.Pages.ByPublishDate.Reverse "Section" "ads") }}
  {{ $today := now.Format "2006-01-02" }}
  {{ if and (le $today .Params.adExpiryDate) ( eq .Kind "page") }}
  <div class="card border-secondary">
    <div class="card-header">
      <h2> إعلان</h2>
    </div>
    <div class="card-body">
      <a href="{{ .Permalink }}">
        <h4 class="card-title">{{ .Title }}</h4>
      </a>
      <p class="card-text">{{ .Content }}</p>
    </div>
  </div>
  <br>
  {{ end }}
  {{ end }}
</div>
