{{ $imgUrl := "../img/crescent_bg.jpg" | absURL }}
<div class="parent-box" style="background-image: url({{ $imgUrl }})">
    <div class="header-box container-fluid">
        <div class="row mt-2">
            <div class="col-4">
                {{ $imgUrl := "../img/logo600.png" | absURL }}
                <img src={{ $imgUrl }} class="d-inline-block logo" alt="Logo">
            </div>
            <div class="col-8 py-5">
                <h2 class="text-center text-highlight mb-4">تـعـلـن</h2>
                <h3 class="header-title text-center text-white">اللجنة الكويتية المشتركة للاستهلال</h3>
                <div class="container title-underline"></div>
            </div>
        </div>
    </div>

    <div class="main-box container-fluid">
        <div class="container text-white py-3">
            <div class="row">
                <div class="col-4 container text-highlight">
                    <div class="value-box row">
                        <div class="col-6"><strong>الغروب</strong></div>
                        <div class="col-6">{{.Params.sunset}}&nbsp;مساء</div>
                    </div>
                    <div class="value-box row">
                        <div class="col-6"><strong>عمر&nbsp;الهلال</strong></div>
                        <div class="col-6">{{.Params.age}}&nbsp;ساعة</div>
                    </div>
                    <div class="value-box row">
                        <div class="col-6"><strong>الاضاءة</strong></div>
                        <div class="col-6">%{{.Params.illumination}}</div>
                    </div>
                    <div class="value-box row">
                        <div class="col-6"><strong>البعد&nbsp;الزاوي</strong></div>
                        <div class="col-6">{{.Params.elongation}}&nbsp;درجة</div>
                    </div>
                    <div class="value-box row">
                        <div class="col-6"><strong>الارتفاع</strong></div>
                        <div class="col-6">{{.Params.altitude}}&nbsp;درجة</div>
                    </div>
                    <div class="value-box row">
                        <div class="col-6"><strong>المكث</strong></div>
                        <div class="col-6">{{.Params.stay}}&nbsp;دقيقة</div>
                    </div>
                    <div class="value-box row text-center">
                        <div class="col-12">وفق حسابات الفلكي</div>
                    </div>
                    <div class="value-box row text-center">
                        <div class="col-12"><strong>م. محمد علي الصائغ</strong></div>
                    </div>
                </div>
                <div class="col-8 text-center">
                    <h3 class="display-5">انها {{.Params.announce}} لتحري هلال</h3>
                    <h3 class="display-5">شهر {{.Params.hijryMonth}} لعام {{.Params.hijryYear}}هـ</h3>
                    <br>
                    <h4 class="display-5">يوم {{.Params.dayOfSighting}}
                        {{.Params.dateOfSighting}}</h4>
                    <h4 class="display-5">
                        {{ if eq .Params.announce "ستخرج"}}
                        عند {{.Params.location}} في منطقة {{.Params.area}}.
                        {{ else }}
                        {{.Params.notGoingComment}}
                        {{ end }}
                    </h4>
                    <br>
                    <div class="container text-white">
                        <h4>رئيس اللجنة</h4>
                        <h5>الشيخ صادق بوعباس</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-box container-fluid">
        <div class="row text-center">
            <div class="col"></div>
            <div class="col-3">
                <p>estihlalkwt</p>
            </div>
            <div class="col-3">
                <p>
                    <i data-feather="send"></i>&nbsp;
                    <i data-feather="twitter"></i>&nbsp;
                    <i data-feather="instagram"></i>
                </p>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>