<div class="card border-secondary">
    <div class="card-header">
        <h2>اعلان {{ .Title }}</h2>
    </div>
    <div class="card-body">

        <p>تعلن اللجنة الكويتية المشتركة للاستهلال انها {{.Params.announce}} لتحري هلال شهر {{.Params.hijryMonth}} لعام
            {{.Params.hijryYear}}هـ يوم {{.Params.dayOfSighting}}
            {{.Params.dateOfSighting}}
            {{ if eq .Params.announce "ستخرج"}}
            {{.Params.location}}
            {{ end }}
            .</p>
            <p>{{.Params.notGoingComment}}</p>
            <p>مواصفات الهلال عند غروب الشمس الساعة {{.Params.sunset}} مساء</p>
            <div class="table-responsive">
            <table class="table table-sm table-bordered text-center bg-light border">
                <thead>
                    <tr>
                        <th>عمر الهلال</th>
                        <th>الاضاءة</th>
                        <th>البعد الزاوي</th>
                        <th>الارتفاع</th>
                        <th>المكث</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{.Params.age}}&nbsp;ساعة</td>
                        <td>%{{.Params.illumination}}</td>
                        <td>{{.Params.elongation}}&nbsp;درجة</td>
                        <td>{{.Params.altitude}}&nbsp;درجة</td>
                        <td>{{.Params.stay}}&nbsp;دقيقة</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <br>
                <a href="{{ .Permalink }}">
                    <h4 class="card-title">بوستر الاعلان</h4>
                </a>
            </div>
            <div class="col">
                <h4>رئيس اللجنة</h4>
                <h5>الشيخ صادق بوعباس</h5>
            </div>
        </div>

    </div>
</div>