{{ $imgUrl := "../img/crescent_bg.jpg" | absURL }}
<div class="parent-box" style="background-image: url({{ $imgUrl }})">
    <div class="header-box container-fluid">
        <div class="row mt-2">
            <div class="col-4">
                {{ $imgUrl := "../img/logo300.png" | absURL }}
                <img src={{ $imgUrl }} class="d-inline-block logo" alt="Logo">
            </div>
            <div class="col-8 py-5">
                <h2 class="text-center text-highlight mb-4">تـعـلـن</h2>
                <h3 class="header-title text-center text-white">اللجنة الكويتية المشتركة للاستهلال</h3>
                <div class="container title-underline"></div>
            </div>
        </div>
    </div>

    <div class="main-box container-fluid">
        <div class="container text-white py-3">
            <div class="row">
                {{ partial "crescent-data.html" . }}
                <div class="col-8 text-center">
                    <h3 class="display-5">انها {{.Params.announce}} لتحري هلال</h3>
                    <h3 class="display-5">شهر {{.Params.hijryMonth}} لعام {{.Params.hijryYear}}هـ</h3>
                    <br>
                    <h4 class="display-5">وذلك في يوم {{.Params.dayOfSighting}}
                        {{.Params.dateOfSighting}}</h4>
                        {{ if eq .Params.announce "ستخرج"}}
                            <ul style= "text-align: right; list-style-type: none;">
                                <li>{{.Params.location}}</li>
                                {{ if ne .Params.location2 "."}}<li>{{.Params.location2}}</li>{{ end }}
                                {{ if ne .Params.location3 "."}}<li>{{.Params.location3}}</li>{{ end }}
                            </ul>
                        <p>{{ if ne .Params.notGoingComment "."}}{{.Params.notGoingComment}}{{ end }}</p>
                        {{ end }}
                    <br>
                    <div class="container text-white">
                        <h5>رئيس اللجنة</h5>
                        <h4>الشيخ صادق بوعباس</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-box container-fluid">
        <div class="row text-center">
            <div class="col"></div>
            <div class="col-3">
                <p>estihlalkwt</p>
            </div>
            <div class="col-3">
                <p>
                    <i data-feather="send"></i>&nbsp;
                    <i data-feather="twitter"></i>&nbsp;
                    <i data-feather="instagram"></i>
                </p>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>