<div>
  {{ range first 3 (where .Site.Pages.ByPublishDate.Reverse "Section" "crescents") }}
  {{ if eq .Kind "page" }}
    <h3 class="section-header">
        {{ .Params.hijryMonth }}
    </h3>
    <article class="container bottom-shadow">
      <div>
        <b> أوّل أيّام شهر {{.Params.hijryMonth}} هو يوم {{ .Params.firstDayName }} {{ .Params.firstDayDate }} </b>
        <a href="{{ .Permalink }}">
         التفاصيل
        </a>
    </div>
    <br />
  </article>
  <br />
  {{ end }}
  {{ end }}
</div>
