<div>
  <h3 class="section-header">
    رصد الاهلة
</h3>
{{ range first 3 (where .Site.Pages.ByPublishDate.Reverse "Section" "crescents") }}
  {{ if eq .Kind "page" }}
  <article class="container bottom-shadow">
    <h4> 
        {{ .Params.hijryMonth }}
    </h4>
      <div>
         أوّل أيّام شهر {{.Params.hijryMonth}} هو يوم {{ .Params.firstDayName }} {{ .Params.firstDayDate }} 
        <a href="{{ .Permalink }}">
         التفاصيل
        </a>
    </div>
    <br />
  </article>
  <br />
  {{ end }}
  {{ end }}
</div>
