<div class="value-box col-4 container text-highlight">
    <div class="row">
        <div class="col-6">الغروب</div>
        <div class="col-6">{{.Params.sunset}}&nbsp;مساء</div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6">عمر&nbsp;الهلال</div>
        <div class="col-6">{{.Params.age}}&nbsp;ساعة</div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6">الاضاءة</div>
        <div class="col-6">%{{.Params.illumination}}</div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6">البعد&nbsp;الزاوي</div>
        <div class="col-6">{{.Params.elongation}}&nbsp;درجة</div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6">الارتفاع</div>
        <div class="col-6">{{.Params.altitude}}&nbsp;درجة</div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6">المكث</div>
        <div class="col-6">{{.Params.stay}}&nbsp;دقيقة</div>
    </div>
    <hr>
    <div class="row text-center">
        <div class="col-12">وفق حسابات تقويم الصائغ</div>
    </div>
    <div class="row text-center">
        <div class="col-12"><strong>للفلكي م. محمد علي الصائغ</strong></div>
    </div>
</div>
