<div id="home-jumbotron" class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="logo col-md-3">
                {{ $imgUrl := "../img/logo600.png" | absURL }}
                <img src={{ $imgUrl }} class="jumbo-logo" alt="Logo">
            </div>
            <div class="title col-md text-center">
                <h1><b>{{ .Site.Title }}</b></h1>
                <h4><b>Kuwait Joint Committee for Crescent Sighting</b></h4>
                <p class="font-125" style="color: #333;">{{ .Site.Params.homeText | markdownify }}</p>
            </div>
        </div>
    </div>
</div>