<div>
  <h1>الأخبار</h1>
  {{ range first 3 (where .Site.Pages.ByPublishDate.Reverse "Section" "news") }}
  {{ if eq .Kind "page" }}
  <article class="container mt-1">
    <h4 class="section-header">
      <div style="font-size: .7em">{{ partial "date-only.html" . }}</div>
      <a href="{{ .Permalink }}">
        {{ .Title }}
      </a>
    </h4>
    <div class="container">
      <span class="myFontSize">{{ .Summary }}</span>
      <a href="{{ .Permalink }}">
        إقرأ المزيد
      </a>
  </div>
  <br />
  </article>
  {{ end }}
  {{ end }}
</div>