{{ $imgUrl := "../img/crescent_bg.jpg" | absURL }}
<div class="container-fluid bg-crescent announcement-box" style="background-image: url({{ $imgUrl }})">
    <div class="container">
        <div class="row">
            <div class="col-4">
                {{ $imgUrl := "../img/logo600.png" | absURL }}
                <img src={{ $imgUrl }} class="d-inline-block logo" alt="Logo">
            </div>
            <div class="col-8 py-5">
                <h2 class="text-center text-orange">بـيـان</h2>
                <h3 class="text-center text-white display-5">اللجنة الكويتية المشتركة للاستهلال</h3>
                <div class="container-fluid line-orange"></div>
            </div>
        </div>

        <div class="bg-darkblue">
            <div class="container text-white py-3 mb-4">
                <h4 class="display-5">خرجت اللجنة لتحري هلال شهر {{.Params.hijryMonth}} لعام
                    {{.Params.hijryYear}}هـ يوم {{.Params.dayOfSighting}}
                    {{.Params.dateOfSighting}}
                    عند {{.Params.location}} في منطقة {{.Params.area}}
                    بدولة الكويت.</h4>
                <br>
                <div class="container bg-orange text-center py-1">
                    <h3 class="display-5">
                        {{.Params.report}}
                    </h3>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-6 text-white">
            </div>
            <div class="col-6 text-white">
                <h4 class="text-center">رئيس اللجنة</h4>
                <h5 class="text-center">الشيخ صادق بوعباس</h5>
            </div>
        </div>
    </div>
</div>