{{ $imgUrl := "../img/crescent_bg.jpg" | absURL }}
<div class="parent-box" style="background-image: url({{ $imgUrl }})">
    <div class="header-box container-fluid">
        <div class="row mt-2">
            <div class="col-4">
                {{ $imgUrl := "../img/logo600.png" | absURL }}
                <img src={{ $imgUrl }} class="d-inline-block logo" alt="Logo">
            </div>
            <div class="col-8 py-5">
                <h2 class="text-center text-highlight mb-4">بـيـان</h2>
                <h3 class="header-title text-center text-white">اللجنة الكويتية المشتركة للاستهلال</h3>
                <div class="container title-underline"></div>
            </div>
        </div>
    </div>

    <div class="main-box container-fluid">
        <div class="container text-white py-3">
            <p class="stress">خرجت اللجنة لتحري هلال شهر {{.Params.hijryMonth}} لعام
                {{.Params.hijryYear}}هـ يوم {{.Params.dayOfSighting}}
                {{.Params.dateOfSighting}} الى:</p>
                <p>{{.Params.location}}</p>
                <p>{{ if ne .Params.location2 "."}}{{.Params.location2}}{{ end }}</p>
                <p>{{ if ne .Params.location3 "."}}{{.Params.location3}}{{ end }}</p>
    
            <div class="container bg-highlight text-center py-1 mt-3">
                <h3 class="display-5">
                    {{.Params.report}}
                </h3>
            </div>
            <p class="py-0 my-2"> {{.Params.reportComment}} </p>
        </div>
    </div>

    <div class="signature-box container">
        <div class="row text-center">
            <div class="col"></div>
            <div class="col-5 text-white">
            </div>
            <div class="col-5 text-white">
                <h4>رئيس اللجنة</h4>
                <h5>الشيخ صادق بوعباس</h5>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <div class="footer-box container-fluid">
        <div class="row text-center">
            <div class="col"></div>
            <div class="col-3">
                <p>estihlalkwt</p>
            </div>
            <div class="col-3">
                <p>
                    <i data-feather="send"></i>&nbsp;
                    <i data-feather="twitter"></i>&nbsp;
                    <i data-feather="instagram"></i>
                </p>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>