<div class="card border-secondary">
    <div class="card-header">
        <h2>بيان {{ .Title }}</h2>
    </div>
    <div class="card-body">

        <p>خرجت اللجنة الكويتية المشتركة للاستهلال لتحري هلال شهر {{.Params.hijryMonth}} لعام
            {{.Params.hijryYear}}هـ يوم {{.Params.dayOfSighting}}
            {{.Params.dateOfSighting}}
            {{.Params.location}}</p>
        <h4><span><strong>{{ .Params.report }}</strong></span></h4>
        <p> {{.Params.reportComment}} </p>
        <br>
        <div class="row">
            <div class="col">
                <br>
                <a href="{{ .Permalink }}">
                    <h4 class="card-title">بوستر البيان</h4>
                </a>
            </div>
            <div class="col">
                <h4>رئيس اللجنة</h4>
                <h5>الشيخ صادق بوعباس</h5>
            </div>
        </div>

    </div>
</div>