<h3 class="section-header">صورة وتعليق</h3>
<div class="card border-light">
    {{ range first 1 (where .Site.Pages.ByPublishDate.Reverse "Section" "showntell")  }}
    {{ $src := print "/showntell/images/" .Params.image }}
    <a href="{{ .Permalink }}">
        <img class="card-img-top" src="{{ $src }}" alt="Card image cap">
    </a>
    <div class="card-body bottom-shadow">
        <a href="{{ .Permalink }}">
            <h5 class="card-title">{{ .Title }}</h5>
            </a>
        <p class="card-text">{{ .Content }}</p>
    </div>

    {{ end }}
  </div>
