{{ $cls := "btn btn-sm btn-block side-buttons" }}
<div class="container container-fluid"><b>
    <!-- <a href="/newsletter/" class={{ $cls }}><i data-feather="radio"></i> النشرة الشهرية</a> -->
    <a href="/news/" class={{ $cls }}><i data-feather="mic"></i> الاخبار</a>
    <!-- <a href="/ads/" class={{ $cls }}><i data-feather="radio"></i> الاعلانات</a> -->
    <a href="/events/" class={{ $cls }}><i data-feather="star"></i> الاحداث الفلكية</a>
    <!-- <a href="/observations/" class={{ $cls }}><i data-feather="edit-3"></i> تقارير الرصد</a> -->
    <!-- <a href="/statements/" class={{ $cls }}><i data-feather="volume-2"></i> بيانات اللجنة</a> -->
    <a href="/albums/" class={{ $cls }}><i data-feather="camera"></i> البوم الصور</a>
    <a href="/showntell/" class={{ $cls }}><i data-feather="image"></i> صورة وتعليق</a>
    <a href="/astroFlash/" class={{ $cls }}><i data-feather="sun"></i> اضاءات فلكية</a>
    <a href="/articles/" class={{ $cls }}><i data-feather="feather"></i> المقالات</a>
    <a href="/links/" class={{ $cls }}><i data-feather="external-link"></i> الروابط العلمية</a>
    <a href="/books/" class={{ $cls }}><i data-feather="book-open"></i> المكتبة</a>
    <!-- <a href="/dictionary/" class={{ $cls }}><i data-feather="book"></i> القاموس الفلكي</a> -->
  </b>
</div>