<aside class="col-md-3">
    <div class="container container-fluid">
      <!-- <a href="/newsletter/" class="btn btn-sm btn-block">النشرة الشهرية</a> -->
      <a href="/news/" class="btn btn-sm btn-block">الاخبار</a>
      <!-- <a href="/ads/" class="btn btn-sm btn-block">الاعلانات</a> -->
      <a href="/events/" class="btn btn-sm btn-block">الاحداث الفلكية</a>
      <a href="/observations/" class="btn btn-sm btn-block">تقارير الرصد</a>
      <a href="/statements/" class="btn btn-sm btn-block">بيانات اللجنة</a>
      <a href="/showntell" class="btn btn-sm btn-block">صورة وتعليق</a>
      <a href="/articles/" class="btn btn-sm btn-block">المقالات</a>
      <a href="/links/" class="btn btn-sm btn-block">الروابط العلمية</a>
      <a href="/books/" class="btn btn-sm btn-block">المكتبة</a>
      <a href="/dictionary/" class="btn btn-sm btn-block">القاموس الفلكي</a>
    </div>
