<style>
  .container {
    max-width: {{ .Site.Params.containerMaxWidth | default "900px" | safeCSS }};
  }


  .jumbo-logo {
    width: 11em;
    padding: 0 5px ;
  }

  .jumbo-text {
    width:80%; 
    margin: 0px 150px 0 0;
   }

  .jumbo-ar {
    font-size: 1.8rem;
    margin: 30px 0 10px 0;
  }

  .jumbo-en {
    font-size: .8rem;
    line-height: 1rem;
  }

  .jumbo-slogan {
    font-size: 1.2rem;
    color: #333;
    line-height: 1rem;
  }

  .jumbotron {
    margin: 0;
  }

  #home-jumbotron {
    background-color:#e3ebf0;
    padding: 10px;
  }

  .jumbo-title {
    font-style: normal;
  }

  #nav a {
    font-weight: bold;
    color: inherit;
  }

  #nav-border {
    border-bottom-color: #378fc2;
  }

  #main {
    padding-top: 1em;
    padding-bottom: 2em;
    border: lightgrey;
    border-top-width: 1px;
    border-top-style: solid;
  }

  .book-img-size {
    height: 22rem;
    width: 15rem;
  }

  .font-125 {
    font-size: 125%;
  }

  .tag-btn {
    margin-bottom: 0.3em;
  }

  img {
    max-width: 100%;
  }

  body,
  .arabize {
    direction: rtl;
    text-align: right;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  footer {
    color: #ccc;
    background-color: #333;
    margin: 0px;
  }

  .social {
    margin: 0;
    padding: 0;
    color: #ccc;
    text-decoration: none;
  }

  .social:enabled {
    color: #ccc;
    text-decoration: none;
  }

  .social:hover {
    color: deepskyblue;
    text-decoration: none;
  }

  .btn {
    padding: 0px;
  }
  
  .btn-block {
    background-color: #e3ebf0;
    font-size: 1em;
    background-color: inherit;
    color:#333;
  }

  .nav-link:hover {
    background-color: #e3ebf0;
    color: white;
  }

  .btn-block:hover {
    background-color: #5b7e92;
    color: white;
  }

  .section-header {
    background-color: rgb(247, 247, 247);
    padding: 4px;
    border: lightsalmon;
    border-bottom-width: 3px;
    border-bottom-style: solid;
  }
  
  .tags {
    padding: 0 4px;
    margin: 1px 0;
  }

  time {
    font-size: 0.7em;
  }

  .return-btn {
    margin: 5px 0;
  }

  .thumbnail {
    width: 6rem;
    border: lightsalmon;
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

  p, li, b, .myFontSize {
    font-size: 1.2em;
  }

  .side-buttons {
    text-align: right; 
    padding-right: 5px;
    padding-bottom: 2px;
  }
  aside {
    background-color:rgb(247, 247, 247);
    padding-top: 10px;
  }

  .bottom-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px -8px;
     border:lightgray;
     border-bottom-style: solid;
     border-bottom-width: 1px;
     padding-bottom: 5px;
  }

  div.absolute {
    position: absolute;
    top: 5px;
  }


  @media only screen and (max-width: 770px) {
    .jumbo-logo {
      width: 100px;
    }

    .jumbo-text {
      width:80%; 
      margin: -18px 70px 0 0;
    }

    .jumbo-ar {
      font-size: .8rem;
    }

    .jumbo-en {
      font-size: 5px;
      line-height: .1rem;
    }

    .jumbo-slogan {
      font-size: 0.5rem;
      line-height: 0px;
    }
  }

</style>
