{{ define "main" }}

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <!-- ads -->
      {{ partial "ads-part.html" . }}

        <!-- show and tell -->
      <div>
        {{ partial "showntell-part.html" . }}
      </div>
  <br>

      <!-- news -->
      {{ partial "news-part.html" . }}

      <!-- survey -->

      <!-- articles -->
      {{ partial "articles-part.html" . }}
    </div>

    <aside class="col-md-3">

      <!-- side buttons -->
      <div id="desktop-side-buttons">
        {{ partial "side-buttons.html" . }}
        <hr />
      </div>

      <!-- tags -->
      <div class="container">
        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
        {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
        <a class="tags btn btn-outline-secondary btn-sm" href="{{ .Permalink }}">{{ $name }}</a>
        {{ end }}
        {{ end }}
      </div>
      <hr />

      <!-- Crescent sighting -->
      <div>
        {{ partial "crescents-part.html" . }}
      </div>
      <hr>

      <!-- latest books -->
      <div>
        {{ partial "latest-books-part.html" . }}
      </div>
      <hr>

    </aside>
  </div>
</div>

<br />
{{ end }}