{{ define "main" }}

<div class="container">
  <div class="row">
    <div class="col-md-9">

      {{ range first 10 .Data.Pages.ByPublishDate.Reverse }}
      {{ if eq .Type "ads" }}
      <div class="alert alert-warning" role="alert">
        <h2>إعلان</h2>
        <a href="{{ .Permalink }}">
          <b>{{ .Title }}</b> - {{ partial "date-only.html" . }}
        </a>
        <p>{{ .Content }}</p>
      </div>
      {{ end }}
      {{ end }}

      <h3 style="background-color: #e3ebf0; padding: 0 4px 0 4px;" >أخبار</h3>
      {{ range first 10 .Data.Pages.ByPublishDate.Reverse }}
      {{ if eq .Type "news" }}
      <article>
        <b> {{ partial "date-only.html" . }}</b> <br>
        {{ .Summary }}
        <a href="{{ .Permalink }}">
          Read the full article
        </a>
      </article>
      {{ end }}
      {{ end }}

      <br>
      <h3 style="background-color: #e3ebf0; padding: 0 4px 0 4px;" >مقالات</h3>
      {{ range first 10 .Data.Pages.ByPublishDate.Reverse }}
      {{ if eq .Type "articles" }}
      <article>
        <h1>
          <a href="{{ .Permalink }}">
            {{ .Title }}
          </a>
        </h1>&nbsp;
        <b> {{ partial "date-only.html" . }}</b> <br>
        {{ .Summary }}
        <a href="{{ .Permalink }}">
          Read the full article
        </a>
      </article>
      {{ end }}
      {{ end }}

    </div>
    <div class="col-md-3">
      <div class="container container-fluid">
        <a href="/newsletter/" class="btn btn-sm btn-block">النشرة الشهرية</a>
        <a href="/news/" class="btn btn-sm btn-block">الأخبار</a>
        <a href="/ads/" class="btn btn-sm btn-block">الإعلانات</a>
        <a href="/events/" class="btn btn-sm btn-block">الظواهر الفلكية</a>
        <a href="/observations/" class="btn btn-sm btn-block">تقارير الرصد</a>
        <a href="/statements/" class="btn btn-sm btn-block">البيانات</a>
        <a href="/showntell" class="btn btn-sm btn-block">صورة وتعليق</a>
        <a href="/articles/" class="btn btn-sm btn-block">المقالات</a>
        <a href="/references/" class="btn btn-sm btn-block">المراجع</a>
        <a href="/dictionary/" class="btn btn-sm btn-block">القاموس الفلكي</a>
      </div>
      <hr>
      {{ range .Params.tags }}
      <a class="btn btn-secondary btn-sm">{{ . }}</a>

      <!-- href="{{ "tags/" | relLangURL }}{{ . | urlize }}/" rel="tag" -->
      {{ end }}
    </div>
  </div>
</div>

<br>
{{ end }}