{{ define "main" }}

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <!-- ads -->
      {{ partial "ads-part.html" . }}

      <!-- news -->
      {{ partial "news-part.html" . }}

      <!-- articles -->
      {{ partial "articles-part.html" . }}
    </div>

    <aside class="col-md-3">
    
      <!-- side buttons -->
      {{ partial "side-buttons.html" . }}
      <hr />
    
      <!-- tages -->
      <div class="container">
        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
        {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
        <a class="tags btn btn-outline-secondary btn-sm" href="{{ .Permalink }}">{{ $name }}</a>
        {{ end }}
        {{ end }}
      </div>
      <hr />
    
      <!-- show and tell -->
      {{ partial "showntell-part.html" . }}
      <br>
    
    </aside>
  </div>
</div>

<br />
{{ end }}
