{{ define "main" }}

<div class="container">
  <div class="row">

    <div class="col-md-9">
      <h1 class="section-header"> أوقات الصلاة</h1>
      <p>أوقات الصلاة في مجموعة منتقاة من المدن العالمية.</p>
      
          {{ range.Pages.ByPublishDate.Reverse }}
      <p>
      <a class="font-125" href="/prayer_times/PDF/{{ .Params.file }}">{{ .Title }}</a>
      <hr />
    </p>
    {{ end }}
    </div>

    <aside class="col-md-3">

      <!-- side buttons -->
      <div id="desktop-side-buttons">
        {{ partial "side-buttons.html" . }}
      </div>

    </aside>
  </div>
</div>

{{ partial "return-1-btn" . }}
{{ end }}
