{{ define "main" }}

<h1 class="section-header">{{ .Title }}</h1>
<div class="alert alert-warning" role="alert">
  {{ .Content }}
</div>
<div class="container">
{{ range.Pages.ByPublishDate.Reverse }}

<div class="row">
    <div class="col-sm">
      <a class="font-125" href="{{ .RelPermalink }}">{{ .Title }}</a><br />
      بقلم: {{ .Params.author | markdownify }} 
    </div>
    <div class="col-sm">
      {{ partial "date-and-tags.html" . }}
    </div>
  </div>
  <hr>

{{ end }}
</div>

{{ partial "return-1-btn" . }}
{{ end }}
