{{ define "main" }}

<h1>{{ .Title }}</h1>
<div class="font-125">بقلم: {{ .Params.author }}</div>
{{ partial "date-and-tags.html" . }}<br /><br />
{{ .Content }}

<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <a href="/" class="btn btn-sm btn-block">عودة الى الصفحة الرئيسية</a>
        </div>
        <div class="col-sm">
            <a href="/articles/" class="btn btn-sm btn-block">قائمة المقالات</a>
        </div>
    </div>
</div>

{{ end }}
