{{ define "main" }}

<h1>{{ .Title }}</h1>

<br />
<div class="container">
  {{ $src := print "/showntell/" .Params.image }}
  <img src="{{ $src }}" alt="صورة مفقودة" />
</div>

<br />
<div class="container">
  {{ .Content }}
</div>

<br /><br /><br />
<div class="container">
  <div class="row">
      <div class="col-sm">
          <a href="/" class="btn btn-sm btn-block">عودة الى الصفحة الرئيسية</a>
      </div>
      <div class="col-sm">
          <a href="/showntell/" class="btn btn-sm btn-block">قائمة الصور</a>
      </div>
  </div>
</div>

{{ end }}
