{{ define "main" }}

{{ range.Pages.ByPublishDate.Reverse }}

<div class="card-group">
  <div class="card ">
    <div class="card-body">
      <h5 class="card-title">{{ .Title }}</h5>

      <table class="table">
        <tbody>
          <tr>
            <td>المؤلف</td>
            <td>{{ .Params.author }}</td>
          </tr>
          <tr>
            <td>سنة النشر</td>
            <td>{{ .Params.yearPublished }}</td>
          </tr>
          <tr>
            <td>الناشر</td>
            <td>{{ .Params.publisher }}</td>
          </tr>
          <tr>
            <td>عدد الصفحات</td>
            <td>{{ .Params.pageCount }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <a href="/books/{{ .Params.file }}" class="btn btn-primary" style="padding: 0 10px;">الكتاب</a>
    </div>
  </div>

  {{ $src := print "/books/" .Params.thumbnail }}
    <img class="card-img-top book-img-height" src={{ $src }} alt="Card image cap" />

  </div>
<br>

{{ end }}

<br /><br /><br />
<a href="/" class="btn btn-sm btn-block">عودة الى الصفحة الرئيسية</a>

{{ end }}
